@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30 px 100 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-top: 10px;
}

.logo{
    color: aliceblue;
    font-size: 1.8rem;
    margin-left: 10px;
}
 .logo span{
    color: orange;
}

.navbar{
    margin-right: 300px;
}

.navbar a{
    font-size: 1.2rem;
    color: #cccccc;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 200;
    transition: .3s;
}

.navbar a:hover{
    color: orange;
}

.textbox a{
    padding: 8px 35px;
    background-color: orange;
    color: white;
    font-weight: 800;
    border-radius: 10px;
    margin-right: 50px;
    transition: 0.3s;
    border-radius: 2px solid orange;
    text-decoration: none;
}

.textbox:hover{
    color: orange;
    background: transparent;
}

.Home {
    position: relative;
    width: 100%;
    height: 100vh;
    /**background: url('VS.jpg');**/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
.main {
    max-width: 500px;
    color: #555;
}
.main h2 {
    font-size: 3em;
}
.main h2 span {
    color: orange;
}
.main h4 {
    font-size: 2em;
}
.main p {
    padding: 10px 0 40px 0;
}

.hire{
    margin-top: 25%;
}
.hire a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: orange;
    border-radius: 10px;
    border: 2px solid orange;
    font-weight: 500;
    transition: .3s;
}
.hire a:hover:nth-child(1) {
    color: orange;
    background: transparent;
}
.hire a:nth-child(2) {
    color: orange;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}
.hire a:hover:nth-child(2) {
    color: #fff;
    background: orange;
}
.social-icons {
    position: absolute;
    bottom: 50px;
}
.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: orange;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid orange;
    transition: .3s;
}
.social-icons a:hover {
    transform: translateY(-5px);
}
.social-icons a i {
    color: #fff;
}

.photo img{
    height: 750px;
    width: 680px;
    margin-left: 100px;
    margin-bottom: 100px;
    filter: brightness(60%);
}


/*About Me*/
.about {
    padding: 6rem 0;
  }

  .aboutheading h1{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  .about-content img {
    margin-bottom: 50px;
    height: 200px;
    width: 200px;
  }
  .about-content p {
    font-size: 1.2rem;
    color: #f0f0e6;
    padding: 0 2.3rem;
    text-align: center;
  }
  .skills .skills-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #25b79f;
    text-align: center;
  }
  .about-me .about-content {
    display: flex;
    flex-wrap: wrap;
  }
  .about-content .left-content {
    flex-basis: 45%;
    text-align: center;
  }
  .about-content .right-content {
    flex-basis: 45%;
  }

  .work-arrow a{
    text-decoration: none;
    color: orange;
  }


  /*Skill Bar*/
  .skills-bar {
    padding: 25px 30px;
  }
  .skills-bar .bar {
    margin: 25px 0;
  }
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #f0f0e6;
  }
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  .bar .progress-line span {
    position: absolute;
    background: orange;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  .progress-line .html {
    width: 100%;
  }
  .progress-line .css {
    width: 70%;
  }
  .progress-line .bootstrap {
    width: 50%;
  }
  .progress-line .javascript {
    width: 30%;
  }
  .progress-line .c {
    width: 60%;
  }
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #f0f0f0;
  }
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: orange;
    font-size: 12px;
    font-weight: 700;
    background: #f0f0f0;
    padding: 1px 8px;
    border-radius: 3px;
  }
  .progress-line .html::after {
    content: "100%";
  }
  .progress-line .css::after {
    content: "70%";
  }
  .progress-line .bootstrap::after {
    content: "50%";
  }
  .progress-line .javascript::after {
    content: "30%";
  }
  .progress-line .c::after {
    content: "60%";
  }

  #Project {
    justify-content: space-evenly;
    border: 2px solid white;
  }

  #Project h1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white;
    font-weight: 800;
  }

  #Project span{
    color: orange;
  }

  .amazon {
    /* display: flex; */
    /* justify-content: space-evenly; */
    width: 1350px;
  }

  .menu img{
    height: 400px;
    width: auto;
    border-radius: 40%;
    filter: blur(2px);
  }

  .amazon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1350px;
  }

  .amazon img{
    height: 380px;
    width: auto;
    border-radius: 40%;
    margin-left: 50px;
    filter: blur(2px);
  }

  .amazon p{
    display: flex;
    margin-left: 1000px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    margin-top: 80px;
  }

  .amazon span{
    color: orange;
  }

  .pbut1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 300px;
    gap: 70px;

  }

   .pbut1 button {
    background-color: orange;
    border-radius: 20px;
    height: 70px;
    width: 250px;
    border: 2px solid orange;

   }
  .pbut1 a {
    margin:20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 1rem;
    text-decoration: none;
    font-weight: 800;
    background-color: transparent;
    color: black;
  }

  .pbut1 button:hover:nth-child(1){
        color: orange;
        background: transparent;
  }

  .pbut1 button:hover:nth-child(2){
    color: white;
    /* background: transparent; */
  }

  
  .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1350px;
  }

  .menu img{
    height: 380px;
    width: auto;
    border-radius: 40%;
    margin-left: 50px;
    filter: blur(2px);
  }

  .menu p{
    display: flex;
    margin-left: 1000px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    margin-top: 80px;
  }

  .menu span{
    color: orange;
  }

  .pbut2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 300px;
    gap: 70px;

  }

   .pbut2 button {
    background-color: orange;
    border-radius: 20px;
    height: 70px;
    width: 250px;
    border: 2px solid orange;

   }
  .pbut2 a {
    margin:20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 1rem;
    text-decoration: none;
    font-weight: 800;
    background-color: transparent;
    color: black;
  }

  .pbut2 button:hover:nth-child(1){
        color: orange;
        background: transparent;
  }

  .pbut2 button:hover:nth-child(2){
    color: white;
    /* background: transparent; */
  }

  .menu p{
    display: flex;
    margin-left: 1000px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    margin-top: 70px;
  }